import React from 'react'
import type { {{pascalCase name}}Props } from './{{pascalCase name}}.types'

export const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = (props) => {
  return (
    <div data-testid="{{kebabCase name}}">
      {{pascalCase name}} component
    </div>
  )
}

export default {{pascalCase name}}
